@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Montserrat:wght@300&display=swap");
:root {
  --on-title: #4c979c;
  --background-on-body: #f0fcff;
  --background-on-nav: #d5e0e2;
  --onsub-title: #817e7e;
  --on-line: #99c9cc3d;
  --on-background-header-footer: #444141;
  --on-section-text: #444141;
  --on-navigation: #444141;
  --project-background: #e0e6e7ab;
  --title-font: "Montserrat", sans-serif;
  --text-font: "Lora", serif;

  --primaryColor: #fff;
  --navColor1: #21292c;
  --navColor2: #aa3e39;
  --navColor3: #aa6e39;
  --navColor4: #236267;
  --navColor5: #2c8437;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  margin: 0;
  min-height: 100vh;
  background: #000;
  font-family: "Nunito", sans-serif;
}
.overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  transform: translateX(-100vw);
}
.overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translateX(0);
}
.overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translateX(-100vw);
}

/* slide in animation with delay for each nav item */
.slide-in-1 {
  animation: slide-in 0.4s linear 0.2s both;
}
.slide-in-2 {
  animation: slide-in 0.4s linear 0.4s both;
}
.slide-in-3 {
  animation: slide-in 0.4s linear 0.6s both;
}
.slide-in-4 {
  animation: slide-in 0.4s linear 0.8s both;
}
.slide-in-5 {
  animation: slide-in 0.4s linear 1s both;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/* slide out animation with delay for each nav item */
.slide-out-1 {
  animation: slide-out 0.3s linear 0.5s both;
}
.slide-out-2 {
  animation: slide-out 0.3s linear 0.4s both;
}
.slide-out-3 {
  animation: slide-out 0.3s linear 0.3s both;
}
.slide-out-4 {
  animation: slide-out 0.3s linear 0.2s both;
}
.slide-out-5 {
  animation: slide-out 0.3s linear 0.1s both;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
/* menu bars */
.menu-bars {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  display: inline;
  cursor: pointer;
}
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 2px;
  background-color: #fff;
  margin: 8px 0;
  transition: 0.4s;
}
/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

/* Navigation Menu */

nav,
nav ul {
  height: 100vh;
  margin: 0;
  padding: 0;
}
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;
}

nav ul li {
  height: 20%;
  overflow: hidden;
}
nav ul li a {
  position: relative;
  top: 45%;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  text-decoration: none;
  display: block;
  text-align: center;
  transition: all 0.3s;
}
nav li a:hover {
  transform: scale(1.2);
}

nav li:nth-of-type(1) {
  background-color: var(--navColor1);
}
nav li:nth-of-type(2) {
  background-color: var(--navColor2);
}
nav li:nth-of-type(3) {
  background-color: var(--navColor3);
}
nav li:nth-of-type(4) {
  background-color: var(--navColor4);
}
nav li:nth-of-type(5) {
  background-color: var(--navColor5);
}
section {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--primaryColor);
}
section#home {
  background-image: url("https://images.unsplash.com/uploads/141327328038701afeede/eda0fb7c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  background-position: center center;
}
section#home a {
  position: absolute;
  z-index: 2;
  text-decoration: none;
  color: var(--navColor1);
  top: 1.5rem;
  left: 1.5rem;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--navColor1);
}
/* projects */
.projects {
  margin: 3rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  width: 80%;
  grid-gap: 3rem;
}
.project {
  display: flex;
  position: relative;
  transition: all 0.2s;
}

.buttons-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  transition: all 0.2s;
}

.button {
  border: 1px solid var(--on-title);
  border-radius: 10px;
  background-color: var(--on-title);
  font-family: var(--title-font);
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2rem;
  color: var(--background-on-body);
  margin: 1rem auto;
  text-align: center;
}
.button:hover {
  filter: brightness(1.2);
}
.image-text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--on-line);
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.2);
  background-color: var(--project-background);
  padding: 0.5rem;
}
.project-image {
  max-width: 100%;
  height: 90%;
  /* height: 20rem; */
  border-radius: 10px;
}
.project-title {
  font-family: var(--title-font);
  color: var(--on-title);
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
  margin-top: 1rem;
}
.project-title::after {
  content: "";
  display: block;
  height: 3px;
  width: inherit;
  background-color: var(--on-line);
}
.description {
  margin: auto 2rem;
  color: var(--on-section-text);
  font-family: var(--text-font);
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  text-align: justify;
  font-weight: 600;
}

.project:hover .image-text-container {
  filter: brightness(0.2);
}
.project:hover .buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
/* about */
.about {
  margin: 3rem auto;
  display: flex;

  justify-content: stretch;
  align-items: center;
  max-width: 75%;
}
.about img {
  /* overflow: hidden; */
  width: 50%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}
.about-intro p {
  font-family: var(--text-font);
  font-size: 3rem;
  font-weight: 400;
  color: var(--onsub-title);
  text-align: justify;
  margin-left: 3rem;
}

/* connect */
.connect {
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.connect h1 {
  font-size: 4rem;
  letter-spacing: 0.5rem;
  text-align: center;
}
.icon-container {
  margin: 4rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon {
  font-size: 7rem;
  margin: auto 6rem;
  color: var(--on-background-header-footer);
}
.icons p {
  font-family: var(--text-font);
  font-size: 2.5rem;
  margin-top: 0;
}
.icon:hover {
  color: var(--on-title);
}
/* footer */
footer {
  color: var(--on-title);
  background-color: var(--on-background-header-footer);
  width: 100vw;
  font-family: var(--title-font);
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  margin: 4rem auto;
  font-size: 2rem;
}

.color-change {
  background-color: var(--on-title);
}
.hidden {
  display: none;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 55%;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
  .projects {
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: 45%;
  }
}
