@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Montserrat:wght@300&display=swap");
:root {
  /* --on-title: #d8a68d; */
  /* --on-title: #ebe994; */
  /* --on-title: #99c9cc; */
  /* --on-title: #5ba554; */
  --on-title: #4c979c;

  /* --section-background: #fff9f6; */
  /* --section-background: #f5eecf; */
  /* --section-background: #d2e2e2; */
  /* --project-background: #d2dddd; */
  /* --section-background: #d4f0d8; */
  --background-on-body: #f0fcff;
  --onsub-title: #817e7e;
  --on-line: #99c9cc3d;
  --on-background-header-footer: #444141;
  --on-section-text: #444141;
  --on-navigation: #444141;
  --project-background: #e0e6e7ab;
  --title-font: "Montserrat", sans-serif;
  --text-font: "Lora", serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  margin: 0;

  background: var(--section-background);
  background-color: var(var(--background-on-body));
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='29' height='29' fill-opacity='0.15' fill='%234c979c'/%3E%3C/svg%3E");

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* header */
.header {
  background-color: var(--on-background-header-footer);
  height: 70vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  text-transform: uppercase;
  color: var(--on-title);
  font-family: var(--title-font);
  font-size: 10rem;
  margin: 0 2rem;
}

.header h2 {
  font-size: 5rem;
  font-family: var(--text-font);
  color: var(--onsub-title);
  letter-spacing: 4rem;
  margin: 0;
}
/* navigation */
.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-items {
  font-size: 4rem;
  font-weight: 600;
  align-self: center;
  font-family: var(--title-font);
  text-transform: uppercase;
  text-decoration: none;
  margin: 1rem 5rem;
  color: var(--on-section-text);
  letter-spacing: 1rem;
  cursor: pointer;
}
.nav-items:hover {
  color: var(--onsub-title);
}
.nav-items::after {
  content: "";
  display: block;
  height: 4px;
  width: inherit;
  background-color: var(--onsub-title);
}
/* projects */
.projects {
  margin: 3rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  width: 80%;
  grid-gap: 3rem;
}
.project {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--on-line);
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.2);
  background-color: var(--project-background);
  position: relative;
}

.buttons-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.button {
  border: 1px solid var(--on-title);
  border-radius: 10px;
  background-color: var(--on-title);
  font-family: var(--title-font);
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2rem;
  color: var(--background-on-body);
  margin: 1rem auto;
}
.button:hover {
  filter: brightness(1.2);
}
.image-text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--on-line);
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.2);
  background-color: var(--project-background);
}
.project-image {
  max-width: 100%;
  height: 90%;
  /* height: 20rem; */
  border-radius: 10px;
}
.project-title {
  font-family: var(--title-font);
  color: var(--on-title);
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
  margin-top: 1rem;
}
.project-title::after {
  content: "";
  display: block;
  height: 3px;
  width: inherit;
  background-color: var(--on-line);
}
.description {
  margin: auto 2rem;
  color: var(--on-section-text);
  font-family: var(--text-font);
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  text-align: justify;
  font-weight: 600;
}

.project:hover .image-text-container {
  filter: brightness(0.1);
}
.project:hover .buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
/* about */
.about {
  margin: 3rem auto;
  display: flex;

  justify-content: stretch;
  align-items: center;
  max-width: 75%;
}
.about img {
  /* overflow: hidden; */
  width: 50%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}
.about-intro p {
  font-family: var(--text-font);
  font-size: 3rem;
  font-weight: 400;
  color: var(--onsub-title);
  text-align: justify;
  margin-left: 3rem;
}

/* footer */
footer {
  color: var(--on-title);
  background-color: var(--on-background-header-footer);
  width: 100vw;
  font-family: var(--title-font);
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  margin: 4rem auto;
  font-size: 2rem;
}

.hidden {
  display: none;
}
@media screen and (max-width: 800px) {
  html {
    font-size: 55%;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
  .projects {
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: 45%;
  }
}
